<div class="note-container">
  <div class="note-time">
    <span class="links">
      <%= link_to "edit", edit_note_path(note), :class => "edit" %>
      <%= link_to "delete", note_path(note), :class => "delete", :confirm => "Are you sure?", :method => :delete %>
    </span>
    <%= note.created_at.strftime("%I:%M %P") %>
  </div>
  <div class="note-content">
    <%= raw(RedCloth.new(note.content).to_html) %>
  </div>
</div>