- content_for :head do
  = javascript_include_tag "views/notes/index.js"

.page{"data-view-class" => "App.Views.NotesPage"}
  .page-navigation
    %a#new-note
      new note...
  = render :partial => "notes/table"