<div class="form-container no-bottom-border">
  <%= form_for @task, :as => :task, :url => url, :method => method, :html => {:class => class_name} do |f| %>
    <div class="text-field-container">
  	  <%= f.text_field :name, :class => "text-field" %>
  	</div>
  	<div class="button-container">
  	  <%= render :partial => "notes/label_id_form_element", :locals => {:f => f} %>
	    <%= f.submit button_text, :class => "submit" %>
	    <div style="clear:both;"></div>
	  </div>
  <% end %>
</div>