<ol class="tasks">
  <% tasks.each_with_index do |task, index| %>
    <li class="<%= tasks.length - 1 == index ? 'last' : '' %> task <%= task.in_progress? ? 'started' : '' %>">
      <%= render :partial => "tasks/task", :locals => {:task => task} %>
    </li>
  <% end %>
</ol>