%div.tasks-container{:id => "tasks-container"}
  %div.task-list-container{:id => "task-list", "data-view-class" => "App.Views.TaskList"}
    %div.label
      bitsimplicity
    %div.links
    %ol.tasks
      - tasks.each_with_index do |task, index|
        = render :partial => "tasks/list_item", :locals => {:task => task, :index => index}
    = render :partial => "tasks/new_form", :locals => {:labels => @labels}