<div class="form-container no-bottom-border">
  <%= form_for Task.new, :as => :task, :url => tasks_path, :method => :post do |f| %>
    <div class="text-field-container">
      <%= f.text_field :name, :class => "text-field", :size => 30 %>
    </div>
    <div class="button-container">
      <div class="select-container">
        <%= f.select :label_id, labels.collect { |label| [label.name, label.id] }, :include_blank => true %>
      </div>
      <%= f.submit "Save", :class => "submit" %>
    </div>
  <% end %>
</div>