%div.task-form-container
  = form_for Task.new, :as => :task, :url => tasks_path, :method => :post, :remote => true do |f|
    %div.text-field-container
      = f.text_field :name, :class => "text-field", :size => 30
    %div.button-container
      %label
        = f.check_box :rolling, :class => "checkbox"
        Roll
      = f.submit "Save", :class => "submit"