- content_for :head do
  = javascript_include_tag "views/tasks/index.js"

%div.task-section
  - if @labels_with_tasks.length > 0
    - @labels_with_tasks.each do |label|
      = render :partial => "tasks/list", :locals => {:label => label, :tasks => label.tasks}
  - else
    = render :partial => "tasks/list", :locals => {:label => @label, :tasks => []}