- content_for :head do
  = javascript_include_tag "views-dates-show"

%div.task-section
  - @labels_with_tasks.each do |label|
    = render :partial => "tasks/list", :locals => {:label => label, :tasks => label.tasks}