- content_for :head do
  = stylesheet_link_tag "kalendae"
  = javascript_include_tag "lib/kalendae.standalone"
  = javascript_include_tag "views-dates-show"

%div.task-section
  - @labels.each do |label|
    = render :partial => "tasks/list", :locals => {:label => label, :tasks => label.tasks}