body
{
	font-family: helvetica;
}

div.main-content
{
  margin: 20px;
}

ul.date-list
{
	list-style-type: none;
	margin: 0 0 0 100px;
	padding: 0;
	position: relative;
}

ul.date-list li
{
	margin-bottom: 10px;
	position: relative;
}

ul.date-list li ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.note-date
{
	background-color: #F0F0F0;
	color: #000000;
	left: -100px;
	padding: 5px;
	position: absolute;
}

div.note-container
{
  font-size: 14px;
	margin-left: 130px;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div.form-container
{
  padding: 5px;
  position: relative;
}

div.form-container form textarea
{
  font-size: 14px;
  height: 150px;
  margin-right: -5px;
  padding: 5px;
  width: 100%;
}

div.form-container form div.textarea-container
{
  margin-right: 10px;
}

div.form-container input.submit
{
  clear: both;
  display: block;
  float: right;
  margin: 5px 0px;
}

div.note-container div.note-time
{
	left: -130px;
	padding: 5px;
	position: absolute;
}

div.note-container div.note-time a
{
	color: #000000;
	text-decoration: none;
}

div.note-container div.note-time a.delete
{
  font-size: 12px;
  color: red;
}

div.note-container div.note-time a.delete:hover
{
  text-decoration: underline;  
}

div.note-container div.note-content
{
	color: #000000;
  padding: 5px;
	position: relative;
	top: 0;
}

div.note-container div.note-content p, div.note-container div.note-content h1, div.note-container div.note-content h2, div.note-container div.note-content h3
{
  margin: 0;
  padding: 0;
}

div.note-container div.note-content ul, div.note-container div.note-content ol
{
  list-style-position: inside;
  padding: 0;
  margin: 0 0 0 -10px;
}

div.note-container div.note-content ul ul, div.note-container div.note-content ol ol, div.note-container div.note-content ul ol, div.note-container div.note-content ol ul
{
  margin: 0;
}

div.note-container div.note-content ul
{
  list-style-type: disc;
}

div.note-container div.note-content ul li, div.note-container div.note-content ol li
{
  margin: 10px;
}

