body
{
	font-family: helvetica;
}

div.main-content
{
  margin: 20px;
}

ul.date-list
{
	list-style-type: none;
	padding: 0;
	position: relative;
}

ul.date-list li
{
	margin-bottom: 10px;
	position: relative;
}

ul.date-list li ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.note-date
{
	background-color: #2C2C2C;
	color: #CCCCCC;
	padding: 5px;
	margin-bottom: 10px;
	float: left;
	width: 100%;	
}

div.note-date h2
{
	float: left;
	font-size: 15px;
	font-weight: normal;
	left: 0;
	line-height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	width: 130px;
}

div.note-date div.note-count
{
	float: left;
	display: block;
	line-height: 100%;
	height: 100%;
	font-size: 13px;
}

div.note-container
{
  font-size: 14px;
	margin-bottom: 10px;
	margin-left: 130px;
	padding-bottom: 10px;
	position: relative;
	width: 700px;
}

div.form-container
{
  padding: 5px;
  position: relative;
}

div.form-container form textarea
{
  font-size: 14px;
  height: 150px;
  margin-right: -5px;
  padding: 5px;
  width: 100%;
}

div.form-container form div.textarea-container
{
  margin-right: 10px;
}

div.form-container input.submit
{
  clear: both;
  display: block;
  float: right;
  margin: 5px 0px;
}

div.note-container div.note-time
{
	left: -130px;
	padding: 5px;
	position: absolute;
}

div.note-container div.note-time a
{
	color: #000000;
	text-decoration: none;
}

div.note-container div.note-time a.delete
{
  font-size: 12px;
  color: red;
}

div.note-container div.note-time a.delete:hover
{
  text-decoration: underline;  
}

div.note-container div.note-content
{
	color: #000000;
  padding: 5px;
	position: relative;
	top: 0;
}

div.note-content p, div.note-content h1, div.note-content h2, div.note-content h3
{
  margin: 0 0 5px 0;
  padding: 0;
}

div.note-content ul, div.note-content ol
{
  list-style-position: outside;
  padding: 0;
  margin: 0 0 0 5px;
}

div.note-content ul ul, div.note-content ol ol, div.note-content ul ol, div.note-content ol ul
{
  margin: 0;
}

div.note-container div.note-content ul
{
  list-style-type: disc;
}

div.note-content ul li, div.note-content ol li, div.note-content ul li ul li, div.note-content ol li ul li, div.note-content ul li ol li, div.note-content ol li ol li
{
  margin: 0 0 5px 15px;
}

div.note-content ul li ul, div.note-content ul li ol, div.note-content ol li ul, div.note-content ol li ol
{
  margin: 5px 0 0 0;
}

/* main navigation */
ul.navigation
{
	background-color: #191919;
	float: left;
	font-size: 10px;
	height: 36px;
	list-style: none;
	position: relative;
	width: 100%;
}

ul.navigation li
{	
	float: left;
	height: 20px;
	line-height: 20px;
	margin: 14px 2px 0 2px;
	position: relative;
}

ul.navigation li.active
{
	margin-top: 15px;
}

ul.navigation li a.tab
{
	background-color: #656565;
	color: #FFFFFF;
	float: left;
	padding: 2px 5px;
	position: relative;
	text-decoration: none;
	top: -2px;	
}

ul.navigation li.active a
{
	background-color: #EFF3F2;
	color: #000000;
	font-size: 13px;
	padding: 4px 7px;
	text-align: center;	
	top: -7px;
}

ul.navigation li.right
{
	float: right;
	margin-right: 2px;
}

ul.navigation li.first
{
	margin-left: 5px;
	margin-right: 3px;
}

ul.navigation li.last
{
	margin-left: 3px;
	margin-right: 0px;
}
/* end main navigation */
