div.navigation-container
{
  background-color: #000000;
  margin: 0;
  padding: 0;
}

ul.navigation
{
  background-color: #000000;
  clear: both;
  float: left;
  font-size: 13px;
  height: 36px;
  list-style: none;
  margin: 0;
  padding: 15px 0 0 35px;
}

ul.navigation li.tab
{
  float: left;
  height: 36px;
  margin-left: 10px;
  position: relative;
}

ul.navigation li.tab.first
{
  margin-left: 0px;
}

ul.navigation li.tab div.tab
{
  color: #000000;
  height: 20px;
  position: relative;
}

ul.navigation li.tab a.arrow, ul.navigation li.tab div.label-nav
{
  display: none;
}

ul.navigation li.tab.active a.arrow, ul.navigation li.tab.active div.label-nav
{
  display: block;
}

ul.navigation li.tab.active div.tab
{
  background-color: yellow;
  height: 36px;
  line-height: 36px;
  top: 0px;
}

li.tab div.tab .tab-slice
{
  background-color: #656565;
  color: #FFFFFF;
  display: block;
  float: left;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

li.tab div.tab a.tab-slice
{
  height: 15px;
  line-height: 15px;
  padding: 7px;
  top: 7px;
}

li.tab.active div.tab .tab-slice
{
  font-size: 13px;
  background-color: #EBEBEB;
  color: #000000;
}

li.tab.active div.tab a.tab-slice
{
  height: 26px;
  line-height: 26px;
  top: 0px;
  padding: 5px 5px 5px 5px;
}

li.tab.active div.tab a.tab
{
  color: #000000;
}

ul.navigation li.tab.first
{
  margin-left: 5px;
  margin-right: 3px;
}

ul.navigation li.tab.last
{
  margin-left: 3px;
  margin-right: 0px;
}

div.label-navigator
{
  background-color: #26B319;
  clear: both;
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 135px;
  z-index: 10;
  border-left: 2px solid #656565;
}

div.label-navigator ol
{
  list-style: none;
  margin: 0;
  padding: 0;
}

div.label-navigator:hover ol
{
  display: block;
}

div.label-navigator ol li.label.active
{
  background-color: #EBEBEB;
  display: block;
}

div.label-navigator ol li.label
{
  display: none;
  text-align: left;
}

div.label-navigator ol:hover li.label
{
  display: block;
}

div.label-navigator ol li.label a.label
{
  background-color: #26B319;
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  padding: 0 5px 0 5px;
  text-decoration: none;
}

div.label-navigator ol li.label a.label:hover
{
  background-color: #656565;
}