<div class="firefox-shim"></div>
<div class="navigation-container">
  <ul class="navigation">
    <li class="<%= @current_tab == notes_path ? "active" : "" %>">
      <a href="#" class="tab"><%= @date.strftime("%b #{@date.day.ordinalize}, %Y") %></a>
    </li>
    <li>
      <a href="#" class="tab">Archive</a>
    </li>
    <li>
      <input type="text">Archive</input>
      <input type="submit" value="Search"/>
    </li>
  </ul>
  <div style="clear:both;"></div>
</div>