<ul class="navigation">
	<li class="<%= @current_tab == notes_path ? "active" : "" %>">
		<%= link_to "All Notes", notes_path, :class => "tab" %>
	</li>
	<% @labels.each do |label| %>
		<li class="<%= @current_tab == notes_label_path(label) ? "active" : "" %>">
			<%= link_to label.name, notes_label_path(label), :class => "tab" %>
		</li>
	<% end %>
</ul>
<div style="clear:both;"></div>