body
{
  font-family: helvetica;
  font-size: 13px;
  background-color: #F1F1F1;
/*  background-color: #E3F3FC;
    background-color: #D9CFA6;
    background-color: #C9C59A;  */
}

div.displaying
{
  visibility: visible !important;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}