#navigation
{
  font-size: 22px;
  background-color: #4B6B7C;
}

#date-and-controls-container
{
  padding: 10px;
}

#date-and-controls-container #dates
{
  color: #FFFFFF;
}

#date-and-controls-container #dates:hover
{
  cursor: pointer;
}

#date-and-controls-container a#back, #date-and-controls-container a#forward
{
  color: #FFFFFF;
  text-decoration: none;
}

#date-picker-controls-container
{
  background-color: green;
  position: relative;
  z-index: 30;
}

#date-picker-controls
{
  background-color: #4B6B7C;
  line-height: normal;
  padding: 10px;
  position: absolute;
}

#date-picker-controls .footer
{
  text-align: center;
  margin-top: 10px;
}

#date-picker-controls .footer a#change-mode
{
  color: #EEEEEE;
  font-size: 11px;
  text-decoration: underline;
}

#date-picker-controls .footer a#change-mode:hover
{
  cursor: pointer;
}

#navigation #date-range-navigator
{
  float: left;
  height: 60px;
  line-height: 40px;
  width: 480px;
}

#navigation #label-navigator
{
  float: left;
  height: 60px;
  line-height: 54px;
}

div#navigation div.top
{
  clear: both;
  height: 60px;
}

div#navigation div.bottom
{
  clear: both;
  height: 30px;
}

div#navigation #tabs
{
  height: 30px;
}

div#navigation #tabs ul
{
	clear: both;
  height: 30px;
  padding-left: 30px;
}

div#navigation #tabs ul li
{
	float: left;
  height: 30px;
  margin-left: 10px;
}

div#navigation #tabs ul li.first
{
  margin-left: 0;
}

div#navigation #tabs ul li a:hover
{
  cursor: pointer;
}

div#navigation #tabs ul li a.tab
{
  background-color: #79ADC8;
  color: #FFFFFF;
  float: left;
  font-size: 13px;
  height: 15px;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

div#navigation #tabs ul li.active a.tab
{
  background-color: #F1F1F1;
  color: #010101;
  font-size: 18px;
  height: 20px;
  margin-top: 0px;
}