#navigation
{
  background-color: #4B6B7C;
}

#date-range-navigator
{
  padding: 20px;
}

#date-and-controls-container
{
  font-size: 22px;
  padding: 10px;
}

#date-and-controls-container #dates
{
  color: #FFFFFF;
}

#date-and-controls-container #dates:hover
{
  cursor: pointer;
}

#date-and-controls-container a#back, #date-and-controls-container a#forward
{
  text-decoration: none;
  color: #FFFFFF;
}

#date-picker-controls-container
{
  position: relative;
  background-color: green;
  z-index: 30;
}

#date-picker-controls
{
  padding: 10px;
  background-color: #4B6B7C;
  position: absolute;
}

#date-picker-controls .footer
{
  text-align: center;
  margin-top: 10px;
}

#date-picker-controls .footer a#change-mode
{
  color: #EEEEEE;
  font-size: 11px;
  text-decoration: underline;
}

#date-picker-controls .footer a#change-mode:hover
{
  cursor: pointer;
}