ul.notes
{
  padding: 0 25px 0 25px;
  background-color: #ffffff;
}

ul.notes li.note div.note-container
{
  background-color: #FFFFFF;
  padding-bottom: 40px;
  position: relative;
}

ul.notes li.note div.note-container div.header
{
  float: left;
}

ul.notes li.note div.note-container div.header div.timestamp
{
  font-weight: 800;
  padding-bottom: 5px;
}

ul.notes li.note div.note-container div.header div.timestamp span.time
{
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
}

ul.notes li.note div.note-container div.header div.links
{
  padding-bottom: 5px;
}

ul.notes li.note div.note-container div.header div.links a
{
  text-decoration: underline;
  color: #000000;
}

table.notes td.content div.footer
{
  padding: 10px 0 0 5px;
}

table.notes td.content div.footer div.related-items input.checkbox
{
  margin: 0 5px 0 0;
}

table.notes td.content div.footer div.related-items
{
  background-color: #E5E5E5;
  border-radius: 3px;
  color: #606060;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}

table.notes td.content div.footer div.related-items h3
{
  border-bottom: 1px dotted #606060;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

table.notes td.content div.footer div.bottom-border
{
  border-bottom: 1px solid #e5e5e5;
  height: 0px;
}

table.notes td.content div.content
{
  padding: 5px;
}

table.notes td.content div.content h1
{
  font-size: 20px;
  margin-bottom: .5em;
}

table.notes td.content div.content h2
{
  font-size: 18px;
  margin-bottom: .5em;
}

table.notes td.content div.content p
{
  margin-bottom: .5em;
}

table.notes td.content div.content ul
{
  list-style: disc;
  padding: 0em 1em .5em 1em;
  margin-left: 1em;
}

table.notes td.content div.content ol
{
  list-style: decimal;
  padding: 0em 1em .5em 1em;
  margin-left: 1em;
}

table.notes td.content div.content ul li
{
  list-style-type: disc;
  padding-bottom: .5em;
}

table.notes td.content div.content ol li
{
  list-style-type: decimal;
  padding-bottom: .5em;  
}

table.notes td.content div.content ul li ul li
{
  list-style-type: square;
}

table.notes td.content div.content blockquote
{
  background-color: #F9F9F9;
  border-left: 5px solid #CCCCCC;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

table.notes td.content div.content pre
{
  white-space: pre-wrap;
  font-family: courier;
}

div.note-form
{
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px;
  left: 1em;
  position: absolute;
  top: 1em;
  width: 95%;
  z-index: 100;
}

div.note-form div.header
{
  background-color: #010101;
  border-radius: 5px 5px 0px 0px;
  color: #FFFFFF;
  padding: 15px;
}

div.note-form div.form-container
{
  border: 2px solid #010101;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
}

div.note-form div.form-container form
{
  margin: 0;
}

div.note-form div.form-container textarea
{
  border: none;
  font-size: 13px;
  height: 20em;
  margin: 0;
  outline: 0;
  padding: 0 0 10px 0;
  width: 100%;
}

div.note-form div.form-container div.button-container
{
  border-top: 1px solid #010101;
  padding-top: 10px;
  text-align: right;
}

table.notes tr
{
  padding-bottom: 10px;
}

table.notes tr.note
{
  position: relative;
}

table.notes td
{
  padding: .5em .5em 3em 1em;
  vertical-align: top;
  position: relative;
}

table.notes td.header .timestamp
{
  background-color: #79ADC8;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 5px;
  text-align: center;
  width: 9em;
}

table.notes td.content .footer .links a
{
  color: #4B6B7C;
  font-size: 11px;
  padding: 1px 1px 3px 1px;
  text-decoration: underline;
}

table.notes td.content .footer .links a.delete:hover
{
  background-color: red;
  color: #FFFFFF;
  text-decoration: none;
}

table.notes td.content div.note-form
{
  top: 0em;
}