This is the labels template for <%= @current_user.email_address %>...

<ul>
	<% @labels.each do |label| %>
		<li>
			<%= label.name %> <%= link_to "edit", edit_user_label_path(@user, label) %>
		</li>
	<% end %>
</ul>